* {
      margin: 0;
      padding: 0;
}

ul,
ol {
      list-style: none
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
a {
      margin: 0;
      padding: 0
}

a {
      text-decoration: none;
}

body {
      font-family: 'Lato', sans-serif;
}

.container {
      max-width: 1440px;
      margin: 0 auto;
      padding: 5px;
}

.primary {
      color: #272727
}

.secondary {
      color: rgba(39, 39, 39, 0.60)
}


/*=============================
        common css end
============================== */
/*=============================
      nav part css start
============================== */
.header {
      background: rgba(229, 84, 115, 0.10);
}

nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
}

nav ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 30px;
}

nav ul li a {
      color: #474747;
      font-size: 18px;
      font-weight: 400;
}

/*=============================
      nav part css end
============================== */

/*=============================
      hero part css start
============================== */
.hero {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 50px;
}

.hero_text {
      max-width: 60%;
}

.hero_img {
      max-width: 40%;
}

.hero_text h1 {
      font-size: 80px;
      font-weight: 800;
      width: 708px;
      margin-bottom: 32px;
}

.para {
      color: rgba(39, 39, 39, 0.60);
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      margin-bottom: 32px;
}

.btn_primary {
      padding: 20px 43px;
      border-radius: 8px;
      background: #E55473;
      color: #FFF;
      font-size: 18px;
      font-weight: 700;
      border: 0;
}

/*=============================
      hero part css end
============================== */
/*=============================
      nav part css start
============================== */
/*=============================
      nav part css end
============================== */
/*=============================
      nav part css start
============================== */
/*=============================
      nav part css end
============================== */
/*=============================
      nav part css start
============================== */
/*=============================
      nav part css end
============================== */