* {
      margin: 0;
      padding: 0;
}

ul,
ol {
      list-style: none
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
a {
      margin: 0;
      padding: 0
}

a {
      text-decoration: none;
      display: inline-block;
}

body {
      font-family: 'Lato', sans-serif;
}

.container {
      max-width: 1440px;
      margin: 0 auto;
      padding: 5px;
}

.primary {
      color: #272727
}

.secondary {
      color: rgba(39, 39, 39, 0.60)
}


/*=============================
        common css end
============================== */
/*=============================
      nav part css start
============================== */
header {
      background: rgba(229, 84, 115, 0.10);
}

nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
}

nav ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 30px;
}

nav ul li a {
      color: #474747;
      font-size: 18px;
      font-weight: 400;
}

/*=============================
      nav part css end
============================== */

/*=============================
      hero part css start
============================== */
.hero {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 50px;
}

.hero_text {
      max-width: 60%;
}

.hero_img {
      max-width: 40%;
}

.hero_text h1 {
      font-size: 80px;
      font-weight: 800;
      width: 708px;
      margin-bottom: 32px;
}

.para {
      color: rgba(39, 39, 39, 0.60);
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      width: 594px;
      margin: 0 auto 32px;
      text-align: center;
}

.btn_primary {
      padding: 20px 43px;
      border-radius: 8px;
      background: #E55473;
      color: #FFF;
      font-size: 18px;
      font-weight: 700;
      border: 0;
}

/*=============================
      hero part css end
============================== */
/*=============================
  featured flowers part start
============================== */
.featured_flowers_part {
      padding: 140px 0;
}

.title {
      text-align: center;
      margin-bottom: 48px;
}

.title h2 {
      font-size: 40px;
      font-weight: 800;
      margin-bottom: 24px
}



.featured_flowers_inner {
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      gap: 24px;
}

.flowers:nth-child(1) img {
      border-radius: 300px 300px 0px 0px;
      background: rgba(167, 33, 98, 0.15);
      padding: 50px 50px 0 50px;
      width: 310px;
      height: 360px;
}

.flowers:nth-child(2) img {
      border-radius: 300px 300px 0px 0px;
      background: rgba(5, 151, 160, 0.15);
      padding: 50px 50px 0 50px;
      width: 310px;
      height: 360px;
}

.flowers:nth-child(3) img {
      border-radius: 300px 300px 0px 0px;
      background: rgba(71, 125, 17, 0.15);
      padding: 50px 50px 0 50px;
      width: 310px;
      height: 360px;
}

.flowers a {
      text-decoration: underline;
      font-size: 24px;
      font-weight: 700;
      color: #272727;
      margin-top: 12px;
}

/*=============================
   featured flowers part end
============================== */
/*=============================
      nav part css start
============================== */
.hot_deal_part {
      padding-bottom: 140px;
}

.hot_deal_inner {
      display: flex;
      justify-content: space-around;
      align-items: center;

}

.hot_deal_text {
      max-width: 60%;
      text-align: center;
}

.hot_deal_text h1 {
      font-size: 40px;
      font-weight: 800;
      margin-bottom: 24px;
}

.hot_deal_text h1 span {
      color: #E55473;
}

.hot_deal_image {
      max-width: 40%;
}

/*=============================
      nav part css end
============================== */
/*=============================
      instagram part css start
============================== */
.instagram_part {
      padding-bottom: 140px;

}

.instagram_inner {
      display: flex;
      justify-content: space-around;
      align-items: center;
}

/*=============================
      instagram part css end
============================== */
/*=============================
      nav part css start
============================== */
/*=============================
      nav part css end
============================== */
/*=============================
      nav part css start
============================== */
/*=============================
      nav part css end
============================== */
/*=============================
      nav part css start
============================== */
/*=============================
      nav part css end
============================== */